page-product-list {

    .item-md h2 {
        margin: 2px 0;
        font-size: 1.6rem;
        text-overflow: inherit;
        white-space: nowrap;
        overflow: inherit;
        font-weight: normal;
    }
    .main-area2 {
        margin-bottom: 10px !important;
    }
    .card-md {
        margin: 0px;
        border-radius: 2px;
        width: calc(100% - 0px);
    }

}
