page-product-list {

    .item-md h2 {
        margin: 2px 0;
        font-size: 1.6rem;
        text-overflow: inherit;
        white-space: nowrap;
        overflow: inherit;
        font-weight: normal;
    }
    .main-area2 {
        margin-bottom: 56px !important;
    }

}
