page-wishlist {

    .toolbar-title{ text-align: center;}
    // .toolbar{padding: 0;}
    .toolbar .segment{ background-color: #ffffff; }
    .segment .segment-button{ color: #4f4f4f; text-transform: inherit; font-size: 1.5rem; border-radius: 0; border-top: 0; border-left: 0; border-right: 0; border-bottom: 0;}

    .content{ background-color: #e2e2e2;}
    .segment .segment-button.segment-activated{ border-bottom: 1px solid #4f4f4f; background-color: transparent; color: #4f4f4f; border-radius: 0; border-top: 0; border-right: 0; border-left: 0; }
    .item ion-thumbnail img{ height: auto; }
    .item .label h2{ color: #000000; font-weight: 600;  text-overflow: normal; white-space: normal; word-wrap: break-all;}
    .price{ color: #c60626 !important; padding: 8px 0;}
    .item .item-button{ font-size: 1.5rem; text-transform: inherit; font-weight: 500; box-shadow: none;}
    .item .item-button .icon{ padding-right: 0.5rem; font-size: 1.9rem;}
    // .cart-btn{ color: #4f4f4f;}
    .l-f-area{width: auto;}
    .l-f-area span{ font-size: 1.4rem; font-weight: 400; color: #666666;}
    .person-name{ font-weight: 500 !important; }

    .list{ background-color: #ffffff; margin-top: 10px;}
    .list .item{ padding-left: 0; border-bottom: 1px solid #e1e1e1;}
    .list .item-block .item-inner{ border-bottom: 0;}
    .list > .item-block:first-child{ border-top: 0 !important;}
    .list > .item-block:last-child{ border-bottom: 0 !important;}
    .item ion-avatar[item-start]{ width: 44px; height: 44px;}
    .item ion-avatar img{ width: 100%; height: 100%;}
    .alert-message {
        overflow: hidden !important;
    }

    
}
