<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>cart</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Cart </ion-title>
    
    <ion-buttons end class="position-rel">
      <div class="cart-amnt">2</div>
      <button ion-button icon-only >
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
<div *ngIf="productList != null">
<ion-card *ngFor="let product of productList">
  
  <ion-item>
    <ion-thumbnail item-start>
       
      <img src="{{url}}{{product.ProductImage}}">
    
    </ion-thumbnail>
    <h2>{{product.Product.product_name}}</h2>
    <p>{{this.strip(this.br2nl(product.Product.product_description))}}</p>
    <h2 class="price">$ {{product.Product.price}}</h2>
    <button ion-button  class="btn-dark">
      <ion-icon name="cart"></ion-icon> Buy It</button>
    <button ion-button (click)="removeItem(product.Cart.id)" class="btn-primary">
      <ion-icon name="trash"></ion-icon> Remove</button>
  </ion-item>
</ion-card>

</div>

<div *ngIf="productList == null">

  <h4 style="text-align:center">No Recors Found!!!</h4>
</div>

  
</ion-content>
