page-home {
    
    .title .toolbar-title{ text-align: center;}
    .title .toolbar-title img{ max-width: 38%;}
    .list-header{ background: #dbdbdb;  border-bottom:0; text-transform: inherit;}
    
    .label{ color: #4f4f4f; font-size: 1.7rem; font-weight: 600; }
    .card-content{ padding-top: 0; padding-bottom: 0;}
    .new-arrival{ overflow-x: scroll; display:-webkit-box; align-items: center; padding: 10px 0;}
    .new-arrival .card{ width: 245px;}
    .new-arrival .card:first-child{ margin-top: 0;}
    .new-arrival .card img{ padding: 1.5rem;}
    .card-pic{height: 200px; width: auto; margin: 0 auto;}
    .new-arrival .card .card-content .row .col .card-title{ font-size: 1.5rem; font-weight: 600; margin:0; padding: 0 0 5px;}
    .star-area{width: auto;}
    .star-area .icon{ color: #f67401;}
    .star-area .rate{ font-size: 1.3rem;}
    .price{ color: #555; font-weight: 600; font-size: 1.6rem;}
    .button{ padding: 0; margin: 0; background: none; box-shadow: none; height: auto;}
    .button:hover:not(.disable-hover){ background-color: transparent; }
    .button .button-inner img{ padding: 0 0.2rem 0 0; width: 21px; }
    .like-nmbr{ color: #999999; font-size: 1.2rem;}
    .like-total{display: flex; justify-content: space-between; align-items: center;}
    .like-area{width: auto; display: flex; align-items: center; flex-wrap: nowrap; flex-direction: column;}
    .like-area h3{ font-weight: 500; font-size: 1.3rem;}
    .social-area{width: auto; display: flex; }
    .social-area img{ width: 28px; height: 28px; padding: 0 !important; margin: 1rem 0.3rem;}
   
    .cat-slider{height:auto;  margin-bottom:15px}
    .cat-slider ion-slide.swiper-slide{width:245px!important; height:auto; border:1px solid #dddddd; border-radius:4px; align-items:flex-start; margin-right:10px; overflow:hidden}
    .cat-slider ion-slide.swiper-slide .image-holder{width:100%!important; height:90px !important; display:flex; flex-wrap:wrap;}
    .cat-slider ion-slide.swiper-slide .image-holder img{width:100%!important; height:100% !important; object-fit:cover}
    .cat-slider ion-slide.swiper-slide p{text-align:center; font-size:1rem; padding:0 5px}
    
    .main-area{
        margin-bottom: 56px !important;
    }
}
    