<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/img/home-logo.png" alt="Ionic logo">
    </ion-title>
     <ion-buttons end class="search" >
    
  
<!--      
  <ion-searchbar   *ngIf="showSearchbar" 
  cancelButtonText="cancel" 
  [showCancelButton]="true" 
  [(ngModel)]="myInput" 
  (click)="checkFocus()"
  (input)="getItems($event)"

  (ionCancel)="onCancel($event)"> 
</ion-searchbar> -->



<button ion-button icon-only (click)="gotosearchpage()">
    <ion-icon name="search"></ion-icon></button>
     
    </ion-buttons> 

    <ion-buttons end class="position-rel">
        <div class="cart-amnt">{{noofcart}}</div>
        <button ion-button icon-only (click)="gotoviewCart()">
          <ion-icon name="cart"></ion-icon>
        </button>
      </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list class="main-area">

    <!-- <ion-list *ngIf="searchresult!=''">
      <ion-item *ngFor="let item of searchresult" (click)="selected(item.SearchResult.search_keyword)">
        {{item.SearchResult.search_keyword}}
      </ion-item>
    </ion-list>


    <ion-list *ngIf="typeinput!=''">
        <ion-item *ngFor="let item of typeinput" (click)="selected(item.Product.product_name)">
          {{item.Product.product_name}}
        </ion-item>
      </ion-list> -->

      <ion-list-header class="item item-ios list-header list-header-ios">
         Product Marketing
          </ion-list-header>
          
          <div class="new-arrival" *ngIf="productmarketing!=''">
             <ion-card *ngFor="let item of productmarketing; index as i"> 
                    
              <img class="card-pic" src="{{item.image}}" (click)="gotoDetails(item.id)">
              <ion-card-content>
                <ion-row>
                  <ion-col class="pl-0 pr-0">
                    <ion-card-title>                 
                        {{item.product_name}}
                    </ion-card-title>
      
                    <div class="star-area">
                      <ion-icon *ngIf="item.rating>=1" name="star"></ion-icon>
                      <ion-icon *ngIf="item.rating>=2" name="star"></ion-icon>
                      <ion-icon *ngIf="item.rating>=3" name="star"></ion-icon>
                      <ion-icon *ngIf="item.rating>=4" name="star"></ion-icon>
                      <ion-icon *ngIf="item.rating>=5" name="star"></ion-icon>
                      <ion-icon *ngIf="item.rating%1!=0" name="star-half"></ion-icon>  
                      <ion-icon *ngIf="item.rating==0" name="star-outline"></ion-icon>
                      <ion-icon *ngIf="item.rating<=1" name="star-outline"></ion-icon>
                      <ion-icon *ngIf="item.rating<=2" name="star-outline"></ion-icon>
                      <ion-icon *ngIf="item.rating<=3" name="star-outline"></ion-icon>
                      <ion-icon *ngIf="item.rating<=4" name="star-outline"></ion-icon>
                    
                    <span class="rate">({{item.rating}})</span>
                  </div>
      
                    <p class="price">${{item.price}}</p>
                    <div class="social-area">
                      <img src="assets/img/fb-icon.png" alt="" (click)="facebookShare()">
                      <img src="assets/img/twtr-icon.png" alt="" (click)="twitterShare()">
                      <img src="assets/img/pint-icon.png" alt="" (click)="openWithInAppBrowser(item.printerest_link)">
                     </div>
                  </ion-col>
                  <ion-col class="pl-0 pr-0">
                    <div class="like-total">
                      <div class="like-area">  
                        {{count}}               
                        <button ion-button (click)="addLikelLst(item.id, i)">
                          <img *ngIf="item.like == 0" src="assets/img/thumb.png" alt="">
                          <img *ngIf="item.like == 1" src="assets/img/thumb-b.png" alt="">
                          <span class="like-nmbr">({{item.total_like}})</span>
                        </button>
                        <h3>Like</h3>
                      </div>
                      <div class="like-area">
                        <button ion-button (click)="addWishList(item.id, i)">
                          <img *ngIf="item.wishlist == 0" src="assets/img/heart.png" alt="">
                          <img *ngIf="item.wishlist == 1" src="assets/img/heart-b.png" alt="">
                          <span class="like-nmbr">({{item.total_wishlist}})</span>
                        </button>
                        <h3>WishList</h3>
                      </div>
                    </div>

                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
      
          </div>

          <div class="new-arrival" *ngIf="productmarketing==''">
              <div>No result in this category</div>
              </div>



    <ion-list-header class="item item-ios list-header list-header-ios">
      New Arrival
    </ion-list-header>
    
    <div class="new-arrival"  *ngIf="newarraivalList!=''">
       <ion-card *ngFor="let newarraival of newarraivalList; index as i"> 
              
        <img class="card-pic" src="{{newarraival.image}}" (click)="gotoDetails(newarraival.id)">
        <ion-card-content>
          <ion-row>
            <ion-col class="pl-0 pr-0">
              <ion-card-title>                 
                  {{newarraival.product_name}}
              </ion-card-title>

            

              <div class="star-area">
                  <ion-icon *ngIf="newarraival.rating>=1" name="star"></ion-icon>
                  <ion-icon *ngIf="newarraival.rating>=2" name="star"></ion-icon>
                  <ion-icon *ngIf="newarraival.rating>=3" name="star"></ion-icon>
                  <ion-icon *ngIf="newarraival.rating>=4" name="star"></ion-icon>
                  <ion-icon *ngIf="newarraival.rating>=5" name="star"></ion-icon>
                  <ion-icon *ngIf="newarraival.rating%1!=0" name="star-half"></ion-icon>  
                  <ion-icon *ngIf="newarraival.rating==0" name="star-outline"></ion-icon>
                  <ion-icon *ngIf="newarraival.rating<=1" name="star-outline"></ion-icon>
                  <ion-icon *ngIf="newarraival.rating<=2" name="star-outline"></ion-icon>
                  <ion-icon *ngIf="newarraival.rating<=3" name="star-outline"></ion-icon>
                  <ion-icon *ngIf="newarraival.rating<=4" name="star-outline"></ion-icon>
                
                <span class="rate">({{newarraival.rating}})</span>
              </div>
              <p class="price">${{newarraival.price}}</p>
              <div class="social-area">
                <img src="assets/img/fb-icon.png" alt="" (click)="facebookShare()">
                <img src="assets/img/twtr-icon.png" alt="" (click)="twitterShare()">
                <img src="assets/img/pint-icon.png" alt="" (click)="openWithInAppBrowser(newarraival.printerest_link)">
               </div>
            </ion-col>
            <ion-col class="pl-0 pr-0">
              <div class="like-total">
                <div class="like-area">  
                  {{count}}               
                  <button ion-button (click)="addLikelLst(newarraival.id, i)">
                    <img *ngIf="newarraival.like == 0" src="assets/img/thumb.png" alt="">
                    <img *ngIf="newarraival.like == 1" src="assets/img/thumb-b.png" alt="">
                    <span class="like-nmbr">({{newarraival.total_like}})</span>
                  </button>
                  <h3>Like</h3>
                </div>
                <div class="like-area">
                  <button ion-button (click)="addWishList(newarraival.id, i)">
                    <img *ngIf="newarraival.wishlist == 0" src="assets/img/heart.png" alt="">
                    <img *ngIf="newarraival.wishlist == 1" src="assets/img/heart-b.png" alt="">
                    <span class="like-nmbr">({{newarraival.total_wishlist}})</span>
                  </button>
                  <h3>WishList</h3>
                </div>
              </div>

            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

    </div>

    <div class="new-arrival" *ngIf="newarraivalList==''">
      <div>No result in this category</div>
      </div>


    <ion-list-header class="item item-ios list-header list-header-ios">
     Best Seller
    </ion-list-header>
    <div class="new-arrival"  *ngIf="bestseller!=''">
      <ion-card *ngFor="let bseller of bestseller">
        <img class="card-pic" src="{{bseller.product_images}}" (click)="gotoDetails(bseller.id)">
        <ion-card-content>
          <ion-row>
            <ion-col class="pl-0 pr-0">
              <ion-card-title>
                 {{bseller.product_name}}
              </ion-card-title>
              <div class="star-area">
                <span>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-half"></ion-icon>
                </span>
    
                <span class="rate">(4.5)</span>
              </div>
              <p class="price">${{bseller.price}}</p>
              <div class="social-area">
                <img src="assets/img/fb-icon.png" alt="">
                <img src="assets/img/twtr-icon.png" alt="">
                <img src="assets/img/pint-icon.png" alt="">
              </div>
            </ion-col>
            <ion-col class="pl-0 pr-0">
              <div class="like-total">
                <div class="like-area">
                  <button ion-button>
                    <img src="assets/img/thumb-b.png" alt="">
                    <span class="like-nmbr">(139)</span>
                  </button>
                  <h3>Like</h3>
                </div>
                <div class="like-area">
                  <button ion-button>
                    <img src="assets/img/heart-b.png" alt="">
                    <span class="like-nmbr">(38)</span>
                  </button>
                  <h3>WishList</h3>
                </div>
              </div>

            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    
    </div>

    <div class="new-arrival" *ngIf="bestseller==''">
      <div>No result in this category</div>
      </div>
    <!-- recent -->

    <ion-list-header class="item item-ios list-header list-header-ios">
    Recent View
    </ion-list-header>
    
    <div class="new-arrival" *ngIf="recentviewlist!=''">
       <ion-card *ngFor="let item of recentviewlist; index as i"> 
              
        <img class="card-pic" src="{{item.image}}" (click)="gotoDetails(item.id)">
        <ion-card-content>
          <ion-row>
            <ion-col class="pl-0 pr-0">
              <ion-card-title>                 
                  {{item.product_name}}
              </ion-card-title>

              <div class="star-area">
                <ion-icon *ngIf="item.rating>=1" name="star"></ion-icon>
                <ion-icon *ngIf="item.rating>=2" name="star"></ion-icon>
                <ion-icon *ngIf="item.rating>=3" name="star"></ion-icon>
                <ion-icon *ngIf="item.rating>=4" name="star"></ion-icon>
                <ion-icon *ngIf="item.rating>=5" name="star"></ion-icon>
                <ion-icon *ngIf="item.rating%1!=0" name="star-half"></ion-icon>  
                <ion-icon *ngIf="item.rating==0" name="star-outline"></ion-icon>
                <ion-icon *ngIf="item.rating<=1" name="star-outline"></ion-icon>
                <ion-icon *ngIf="item.rating<=2" name="star-outline"></ion-icon>
                <ion-icon *ngIf="item.rating<=3" name="star-outline"></ion-icon>
                <ion-icon *ngIf="item.rating<=4" name="star-outline"></ion-icon>
              
              <span class="rate">({{item.rating}})</span>
            </div>

              <p class="price">${{item.price}}</p>
              <div class="social-area">
                <img src="assets/img/fb-icon.png" alt="" (click)="facebookShare()">
                <img src="assets/img/twtr-icon.png" alt="" (click)="twitterShare()">
                <img src="assets/img/pint-icon.png" alt="" (click)="openWithInAppBrowser(item.printerest_link)">
               </div>
            </ion-col>
            <ion-col class="pl-0 pr-0">
              <div class="like-total">
                <div class="like-area">  
                  {{count}}               
                  <button ion-button (click)="addLikelLst(item.id, i)">
                    <img *ngIf="item.like == 0" src="assets/img/thumb.png" alt="">
                    <img *ngIf="item.like == 1" src="assets/img/thumb-b.png" alt="">
                    <span class="like-nmbr">({{item.total_like}})</span>
                  </button>
                  <h3>Like</h3>
                </div>
                <div class="like-area">
                  <button ion-button (click)="addWishList(item.id, i)">
                    <img *ngIf="item.wishlist == 0" src="assets/img/heart.png" alt="">
                    <img *ngIf="item.wishlist == 1" src="assets/img/heart-b.png" alt="">
                    <span class="like-nmbr">({{item.total_wishlist}})</span>
                  </button>
                  <h3>WishList</h3>
                </div>
              </div>

            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

    </div>

    <div class="new-arrival" *ngIf="recentviewlist==''">
      <div>No result in this category</div>
      </div>


<!-- recent -->

    <ion-list-header class="item item-ios list-header list-header-ios">
      product recommendation
     </ion-list-header>
     <div class="new-arrival" *ngIf="follow_products!=''">
       <ion-card *ngFor="let product of follow_products">
         <img class="card-pic" src="{{product.image}}" (click)="gotoDetails(product.id)">
         <ion-card-content>
           <ion-row>
             <ion-col class="pl-0 pr-0">
               <ion-card-title>
                  {{product.product_name}}
               </ion-card-title>
               <div class="star-area">
                 <span>
                   <ion-icon name="star"></ion-icon>
                   <ion-icon name="star"></ion-icon>
                   <ion-icon name="star"></ion-icon>
                   <ion-icon name="star"></ion-icon>
                   <ion-icon name="star-half"></ion-icon>
                 </span>
     
                 <span class="rate">(4.5)</span>
               </div>
               <p class="price">${{product.price}}</p>
               <div class="social-area">
                <img src="assets/img/fb-icon.png" alt="">
                <img src="assets/img/twtr-icon.png" alt="">
                <img src="assets/img/pint-icon.png" alt="">
              </div>
             </ion-col>
             <ion-col class="pl-0 pr-0">
               <div class="like-total">
                 <div class="like-area">
                   <button ion-button>
                     <img src="assets/img/thumb-b.png" alt="">
                     <span class="like-nmbr">(139)</span>
                   </button>
                   <h3>Like</h3>
                 </div>
                 <div class="like-area">
                   <button ion-button>
                     <img src="assets/img/heart-b.png" alt="">
                     <span class="like-nmbr">(38)</span>
                   </button>
                   <h3>WishList</h3>
                 </div>
               </div>

             </ion-col>
           </ion-row>
         </ion-card-content>
       </ion-card>
     
     </div>

     <div class="new-arrival" *ngIf="follow_products==''">
      <div>No result in this category</div>
      </div>
     <!-- following -->

     <ion-list-header class="item item-ios list-header list-header-ios">
        Following Category
        </ion-list-header>
        
                   
             <div class="new-arrival icon" *ngIf="followinglist!=''">
                <ion-card *ngFor="let item of followinglist; index as i"> 
                       
                 <img class="card-pic" src="{{item.image}}" (click)="gotoproductlist(item.id)">
                 <ion-card-content>
                   <ion-row>
                     <ion-col class="pl-0 pr-0">
                       <ion-card-title>                 
                           {{item.category_name}}
                       </ion-card-title>

                     </ion-col>
                     
                   </ion-row>
                 </ion-card-content>
               </ion-card>
         
             </div>
   
             <div class="new-arrival" *ngIf="followinglist==''">
                 <div>No result in this category</div>
                 </div>
   

  </ion-list>
  

</ion-content>
