page-feed {
    
    .item{ padding-left: 0;}
    .img-pic{width: 24px;}
    .label{text-overflow: normal; white-space: normal; word-wrap: break-all; margin-right: 0;}
    .comment{border: 1px solid #e1e1e1; border-radius: 3px; padding: 1rem;}
    .brdr-b{border-bottom: 1px solid #e1e1e1; }
    .text-input{ margin-top: 0 !important;}
}
    