page-settings {
    .item{
        border-bottom: #eee 1px solid;
        color: #555;
        padding: 7px;
        border-top: none !important;
        font-size: 15px;
        &:last-child{
            border-bottom: none !important;
        }
        .item-inner{
            border-bottom: none !important;
        }
        
        ion-icon{
            font-size: 2rem !important;
            color: #777;
        }
    }
}
