page-change-password {

.logo {
    padding: 80px 0 40px;
    // min-height: 200px;
    text-align: center;

    img {
      max-width: 150px;
    }
  }

  .list {
    margin-bottom: 0;
  }

  .list > .item-block:first-child{ border-top:0;}
  .list > .item-block:last-child{ border-bottom:0;}
  .list > .item-block:last-child .item-inner{ border-bottom: 1px solid #d4d4d4; }
  .item{ padding-right: 0; margin-bottom: 12px; padding-left: 0;}
  .item .item-inner{ padding-left: 8px; border: 1px solid #d4d4d4; border-radius: 4px;}
  .item.item-input.item-input-has-focus .item-inner, .item.item-input.input-has-focus .item-inner{ border-bottom-color: transparent !important; box-shadow:0 -1px 0 0 #d4d4d4 inset; }
  .text-input{ color: #555555 !important;}

  .row .col .item{ margin-bottom: 0;}
  .row .col .item-checkbox .checkbox{ margin-right: 9px; margin-left: 0;}
  .row .col .item-checkbox .item-inner{ border: 0; padding-left:0; padding-right: 0;}
  .checkbox + .item-inner ion-label{ color: #555555; font-weight: 500;}

 .row .col .item-checkbox .checkbox .checkbox-icon{ border-color:#d4d4d4; }
.checkbox-checked{ background-color: #c60626 !important; border-color:#c60626 !important;}
.row .col p{ color: #555555; font-weight: 500;}

.button{ height: 4.2rem; margin-top: 1.6rem;}
.line{ width: 50px; height: 1px; background-color: #555555;  }
.or-area{ margin-top: 0;}
.or{ font-size: 1.6rem; text-transform: uppercase; font-weight: 600 !important;} 
.social-icon{ width: 50px; height: 50px;}

.acess{ color: #555555; font-weight: 500; font-size: 1.5rem;}
.guest{ color: #c60626; text-transform: uppercase; font-weight: 600;}


.gray-text{ color: #555555 !important;}

}
