<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{productDetails.product_name}} </ion-title>
    
      
          <ion-buttons end class="position-rel">
              <div class="cart-amnt">{{noofcart}}</div>
              <button ion-button icon-only (click)="goToCartPage()">
                <ion-icon name="cart"></ion-icon>
              </button>
            </ion-buttons>
      
  </ion-navbar>
</ion-header>
<div class="rating-part" *ngIf ="isShow ==1">
    <ion-card class="rating-area" >
               <rating [(ngModel)]="rate"
        readOnly="false" 
        max="5" 
        emptyStarIconName="star-outline" 
        halfStarIconName="star-half" 
        starIconName="star" 
        nullable="false"
        
        > 
  </rating>
  <ion-row>
    <ion-col col-6>
      <button ion-button block  class="submitbtn" (click)="submit()">Submit</button>
    </ion-col>
    <ion-col col-6>
        <button ion-button  block  class="submitbtn" (click)='hide()'>Cancel</button>
      
      </ion-col>
  </ion-row>
  </ion-card>
</div>

<ion-content>

  <ion-content>
    <ion-list>  
      <ion-card>
        <div class="card-pic-ban">
            <ion-slides pager >
                <ion-slide  *ngFor="let item of productimages"><img  *ngIf="productimages.length != 0" src="{{item.originalpath}}" alt="">
                  <img *ngIf="productimages.length == 0" src="assets/img/detail-ban.jpg"alt="">
              
                </ion-slide></ion-slides>
          <!-- <img src="assets/img/detail-ban.jpg"> -->
        </div>
       
        
        <ion-card-content>
          <ion-row>
            <ion-col col-7>

             
              <ion-card-title class="ban-title"> 
                {{productDetails.product_name}}
                   <!-- Drone with 18 Megapixel.... -->
              </ion-card-title>
              <!-- <div *ngIf="israting==1">{{starrating}}</div> -->
              
              
              <div class="star-area" *ngIf="israting==0">
                  <span>
                    <ion-icon name="ios-star-outline"></ion-icon>
                    <ion-icon name="ios-star-outline"></ion-icon>
                    <ion-icon name="ios-star-outline"></ion-icon>
                    <ion-icon name="ios-star-outline"></ion-icon>
                    <ion-icon name="ios-star-outline"></ion-icon>
                  </span>
                  </div>


              <div class="star-area" *ngIf="israting==1">


                  <ion-icon *ngIf="starrating>=1" name="star"></ion-icon>
                  <ion-icon *ngIf="starrating>=2" name="star"></ion-icon>
                  <ion-icon *ngIf="starrating>=3" name="star"></ion-icon>
                  <ion-icon *ngIf="starrating>=4" name="star"></ion-icon>
                  <ion-icon *ngIf="starrating>=5" name="star"></ion-icon>
                  <ion-icon *ngIf="starrating%1!=0" name="star-half"></ion-icon>
                  <ion-icon *ngIf="starrating==0" name="star-outline"></ion-icon>
                  <ion-icon *ngIf="starrating<=1" name="star-outline"></ion-icon>
                  <ion-icon *ngIf="starrating<=2" name="star-outline"></ion-icon>
                  <ion-icon *ngIf="starrating<=3" name="star-outline"></ion-icon>
                  <ion-icon *ngIf="starrating<=4" name="star-outline"></ion-icon>

             
      
                <span *ngIf="israting==1" class="rate">({{starrating}})</span>
              </div>








              <button ion-button class="rating"  (click)="show(productDetails.id)" > Add Rating </button>
              <p class="price-b">{{productDetails.currency_code}}{{productDetails.price}}</p>
            </ion-col>
            <ion-col col-5>
              <div class="like-total-b">
                <div class="like-area">
                  <button ion-button (click)="addLikelLst(productDetails.id)">
                    <img *ngIf="!like" src="assets/img/thumb.png" alt="">
                    <img *ngIf="like" src="assets/img/thumb-b.png" alt="">
                    <span class="like-nmbr">(139)</span>
                  </button>
                  <h3>Like</h3>
                </div>
                <div class="like-area">
                  <button ion-button  (click)="addWishList(productDetails.id)">
                    <img *ngIf="!heart" src="assets/img/heart.png" alt="">
                    <img *ngIf="heart" src="assets/img/heart-b.png" alt="">
                    <span class="like-nmbr">(38)</span>
                  </button>
                  <h3>WishList</h3>
                </div>
              </div>
              <div class="social-area">
                <img src="assets/img/fb-icon.png" alt="">
                <img src="assets/img/twtr-icon.png" alt="">
                <img src="assets/img/pint-icon.png" alt="">
              </div>
            </ion-col>
          </ion-row>
          <h2 class="pro-des-tittle">Product Description:</h2>
          <p class="pro-des">{{productDetails.product_description}}</p>
          <!-- <p class="pro-des">Ut enim ad minim veniam, quis nostrud exercitain tion ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis in vol
          cillum dolore eu.</p> -->
          <button ion-button color="secondary"> <ion-icon name="cart"></ion-icon> Add to cart</button>
        </ion-card-content>
      </ion-card>


        <ion-list-header class="item item-ios list-header list-header-ios">
          People also like this
        </ion-list-header>

      
      <div class="new-arrival">
        <ion-card *ngFor="let pro of prolikeList">
          <img class="card-pic" src="{{url}}{{pro.ProductImage}}">
          <ion-card-content>
            <ion-row>
              <ion-col class="pl-0 pr-0">
                <ion-card-title>
                 {{pro.Product.product_name}}
                </ion-card-title>
                <div class="star-area">
                  <span>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-half"></ion-icon>
                  </span>
  
                  <span class="rate">(4.5)</span>
                </div>
               
                <p class="price">{{pro.Product.price}}</p>
              </ion-col>
              <ion-col class="pl-0 pr-0">
                <div class="like-total">
                  <div class="like-area">
                    <button ion-button>
                      <img src="assets/img/thumb-b.png" alt="">
                      <span class="like-nmbr">(139)</span>
                    </button>
                    <h3>Like</h3>
                  </div>
                  <div class="like-area">
                    <button ion-button>
                      <img src="assets/img/heart-b.png" alt="">
                      <span class="like-nmbr">(38)</span>
                    </button>
                    <h3>WishList</h3>
                  </div>
                </div>
                <div class="social-area">
                  <img src="assets/img/fb-icon.png" alt="">
                  <img src="assets/img/twtr-icon.png" alt="">
                  <img src="assets/img/pint-icon.png" alt="">
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card> 
  
      </div>
  
    </ion-list>
  
  
  </ion-content>

</ion-content>
